body
{
  color:black;
  background: #E7E8D1;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
#h
{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
  background: #B85042;
  width: 50%;
}
h3{
  padding:10px;
}
label{
  font-size: 15.5px;
  color:black;
  padding: 6px;
  border-radius: 10px;
  background-color:#E7E8D1;
}
.b{
  background-color:#B85042;
  padding: 10px;
  border-radius: 20px;
  color: whitesmoke;
  font-size: 18px;
}